// 默认主题色
$theme-color: #096dd9;
// 设置多个主题色，第一个颜色会成为默认主题色，并且主题会提供一个主题色选择器：
$theme-color: #096dd9, #f26d6d, #3eaf7c, #fb9b5f;

// 响应式配置
$pc: 1440px;        // 电脑响应式布局断点，默认为 1440px
$laptop: 1280px;    // 笔记本响应式布局断点，默认为 1280px
$pad: 959px;        // 大型平板响应式布局断点，默认为 959px
$tablet: 768px;     // 平板响应式布局断点，默认为 768px
$mobile: 480px;     // 手机响应式布局断点，默认为 480px
