// you can change colors here
// 主题颜色，用于整个网站的主要颜色
$theme-color: #096dd9;
// 侧边栏的宽度，通常在桌面设备上使用
$sidebar-width: 20rem;
// 移动设备上侧边栏的宽度
$sidebar-mobile-width: 16rem;
// 内容区域的最大宽度
$content-width:1200px;
// 主字体，用于正文文本
$font-family: '-apple-system, "Nimbus Roman No9 L", "PingFang SC", "Hiragino Sans GB", "Noto Serif SC", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif';
// 标题字体，用于标题文本
//$font-family-heading: 'Georgia, -apple-system, "Nimbus Roman No9 L", "PingFang SC", "Hiragino Sans GB", "Noto Serif SC", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif';
